/* Offline fonts. Run install_fonts.ps1 once to copy the licensed font files into this folder. */

@font-face { font-family: "PT Serif"; src: url("PTSerif-Regular.ttf") format("truetype"); font-style: normal; font-weight: 400; font-display: swap; }
@font-face { font-family: "PT Serif"; src: url("PTSerif-Bold.ttf") format("truetype"); font-style: normal; font-weight: 700; font-display: swap; }
@font-face { font-family: "PT Serif"; src: url("PTSerif-Italic.ttf") format("truetype"); font-style: italic; font-weight: 400; font-display: swap; }
@font-face { font-family: "PT Serif"; src: url("PTSerif-BoldItalic.ttf") format("truetype"); font-style: italic; font-weight: 700; font-display: swap; }

@font-face { font-family: "Open Sans"; src: url("OpenSans-Regular.ttf") format("truetype"); font-style: normal; font-weight: 400; font-display: swap; }
@font-face { font-family: "Open Sans"; src: url("OpenSans-Bold.ttf") format("truetype"); font-style: normal; font-weight: 700; font-display: swap; }
@font-face { font-family: "Open Sans"; src: url("OpenSans-Italic.ttf") format("truetype"); font-style: italic; font-weight: 400; font-display: swap; }

@font-face { font-family: "Oswald"; src: url("Oswald-Regular.ttf") format("truetype"); font-style: normal; font-weight: 400; font-display: swap; }
@font-face { font-family: "Oswald"; src: url("Oswald-Bold.ttf") format("truetype"); font-style: normal; font-weight: 700; font-display: swap; }

@font-face { font-family: "Akrobat"; src: url("Akrobat-Regular.otf") format("opentype"); font-style: normal; font-weight: 400; font-display: swap; }
@font-face { font-family: "Akrobat"; src: url("Akrobat-Bold.otf") format("opentype"); font-style: normal; font-weight: 700; font-display: swap; }
@font-face { font-family: "Akrobat Bold"; src: url("Akrobat-Bold.otf") format("opentype"); font-style: normal; font-weight: 700; font-display: swap; }
@font-face { font-family: "Akrobat Black"; src: url("Akrobat-Black.otf") format("opentype"); font-style: normal; font-weight: 900; font-display: swap; }

@font-face { font-family: "ST-Nizhegorodsky"; src: url("ST-Nizhegorodsky.otf") format("opentype"); font-style: normal; font-weight: 400; font-display: swap; }
@font-face { font-family: "Herold"; src: url("Herold-Regular.otf") format("opentype"); font-style: normal; font-weight: 400; font-display: swap; }
@font-face { font-family: "Herold"; src: url("Herold-Bold.otf") format("opentype"); font-style: normal; font-weight: 700; font-display: swap; }
@font-face { font-family: "Minion Pro"; src: url("MinionPro-Regular.otf") format("opentype"); font-style: normal; font-weight: 400; font-display: swap; }
@font-face { font-family: "Kozuka Gothic Pr6N R"; src: url("KozukaGothicPr6N-Regular.otf") format("opentype"); font-style: normal; font-weight: 400; font-display: swap; }
